/*Geral*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-family: "Helvetica Neue" sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  font-weight: bold;
}

.nav a {
  text-align: center;
  padding: 10px 0;
  color: #ffff;
  background: #000;
}
/*pequeno Smartphones*/
@media screen and (max-width: 480px) {
  .header{
    display: flex; flex-direction: column;
    background-color: rgb(248, 246, 246);
  }
  .nav {
    display: none; flex-direction: column;
    order: 2;
  }
  .nav a {
    width: 100%;
  }
  .nav a:hover {
    background: rgb(10, 182, 38);
  }
  .buttonMob{
    float: right;
    order: 1; text-align: right; padding: 30px 5% 5px 0;
  }
  .endereço{
    text-align: center;
  }
  .Logo {
    float: left;
    position: absolute;
    top: 0%;
    left: 5%;
    padding: 30px 0 15px 10%;
  }
  .contato{
    margin-left: 200px;
    float: left;
   padding: 15px 5% 10px 20%;
   line-height: 20px;
    order: 3;
    font-size: 15px;
}
}
/*Medio Smartphones*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header{
    display: flex; flex-direction: column;
  }
  .nav {
    display: none; flex-direction: column; order: 2;
  }
  .nav a {
    width: 100%;
  }
  .nav a:hover {
    background: rgb(10, 182, 38);
  }
  .buttonMob{order: 1; text-align: right; padding: 5px 5% 5px 0;
  }
  .endereço{
    text-align: center;
  }
  .Logo {
    float: left;
    position: absolute;
    top: 0%;
    left: 5%;
    padding: 30px 0 15px 10%;
  }
  .contato{
    margin-left: 200px;
    float: left;
   padding: 15px 5% 10px 20%;
   line-height: 20px;
    order: 3;
    font-size: 15px;
}
}
/*Largo Smartphones ou pequenos Notebooks*/
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .nav {
    display: flex;
  }
  .nav a {
    width: 25%;
  }
  .nav a:hover {
    background: rgb(10, 182, 38);
  }
  .buttonMob{display: none;}
  .endereço{
    text-align: center;
  }
  .Logo {
    float:left; padding: 15px 0 15px 10%; 
  }
  .contato{
    font-size: 30px;
   
}
}
/*Telas largas*/
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
  }
  .nav a {
    width: 25%;
  }
  .nav a:hover {
    background: rgb(10, 182, 38);
    
  }
  .buttonMob{display:none
  }
  .endereço{
    text-align: center;
  }
  .Logo {
    float:left; padding: 15px 0 15px 10%; 
  }
  .contato{
    font-size: 30px;
    margin-left: 100px;
   
}
}
